.DS_Store
.classpath
.project
.settings/
*/target/
keys/
stats/
zipfian/
readStats.txt
writeStats.txt
*.tar.gz
.tar
*.txt
placement
results/
*.out
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so